{% extends "base.html" %}


{% block content %}
<style>
.dropdown-menu {
    position: absolute;
    width: 100%;
    z-index: 1000; /* Ensure it appears above other elements */
}


.hidden {
  display: none;
}

.ingredient {
    margin-bottom: 10px;
}

.removeIngredient {
    margin-top: 30px; /* Adjust as needed */
}

</style>   

<div class="container">
    <button class="back-button" onclick="window.history.back()">Grįžti</button>
    <h2>Sukurkite receptą</h2>

    <form id="recipeForm">
        {% csrf_token %}
        
        <div class="form-group" style="width: 64%";>
            <label for="recipeName">Recepto pavadinimas:</label>
            <input type="text" id="recipeName" name="recipeName" class="form-control" style="width: calc(100% - 170px);" required>
        </div>
        <div class="col-sm-6">
            <div id="ingredientList">
                <!-- Existing ingredient fields will be populated here -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="searchIngredient">Paieška:</label>
                    <input type="text" id="searchIngredient" class="form-control search-input" placeholder="Norėdami pridėti ingredientą įveskite pavadinimą ir pasirinkite">
                    <div class="dropdown-menu" id="ingredientDropdown">
                        <div class="dropdown-content">
                            {% for product_name in product_names %}
                            <div class="ingredient-option">{{ product_name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="width: 49%;">
            <label for="recipeSummary">Aprašas:</label>
            <textarea id="recipeSummary" name="recipeSummary" class="form-control" rows="4" style="width: 100%; white-space: pre-line;"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Sukurti receptą</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchIngredientInput = document.getElementById('searchIngredient');
        const ingredientDropdown = document.getElementById('ingredientDropdown');
        const ingredientOptions = ingredientDropdown ? ingredientDropdown.querySelectorAll('.ingredient-option') : [];
        const ingredientList = document.getElementById('ingredientList');
        const containerElement = document.querySelector('.container');

        searchIngredientInput.addEventListener('input', function (event) {
            const query = event.target.value.trim();
            const dropdownMenu = document.querySelector('.dropdown-menu');

            // Calculate the top position based on the container element
            const containerRect = containerElement.getBoundingClientRect();
            dropdownMenu.style.top = (containerRect.bottom + window.pageYOffset) + 'px';

            ingredientOptions.forEach(option => {
                const productName = option.textContent;
                if (productName.includes(query)) {
                    option.style.display = '';
                } else {
                    option.style.display = 'none';
                }
            });

            if (ingredientDropdown) {
                ingredientDropdown.style.display = 'block';
            }
        });

        if (ingredientDropdown) {
            ingredientDropdown.addEventListener('click', function (event) {
                if (event.target.classList.contains('ingredient-option')) {
                    const selectedIngredient = event.target.textContent;
                    const emptyIngredientFields = ingredientList.querySelectorAll('.ingredient input[name="ingredient[]"]:not([value])');

                    if (emptyIngredientFields.length > 0) {
                        // If there are empty ingredient fields, populate the first one
                        emptyIngredientFields[0].value = selectedIngredient;
                    } else {
                        // If no empty fields, create a new ingredient field
                        const newIngredient = document.createElement('div');
                        newIngredient.classList.add('ingredient');

                        newIngredient.innerHTML = `
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="ingredient${ingredientList.children.length + 1}">Ingredientas:</label>
                                        <input type="text" id="ingredient${ingredientList.children.length + 1}" name="ingredient[]" class="form-control" value="${selectedIngredient}" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="amount${ingredientList.children.length + 1}">Kiekis (gramais):</label>
                                        <input type="number" id="amount${ingredientList.children.length + 1}" name="amount[]" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger removeIngredient">✕</button>
                                </div>
                            </div>
                        `;
                        ingredientList.appendChild(newIngredient);
                    }

                    if (ingredientDropdown) {
                        ingredientDropdown.style.display = 'none';
                    }
                }
            });
        }

        

        ingredientList.addEventListener('click', function (event) {
            if (event.target.classList.contains('removeIngredient')) {
                event.target.closest('.ingredient').remove();
            }
        });

        const recipeForm = document.getElementById('recipeForm');
        recipeForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData(this);

            // Serialize ingredient data as JSON array
            const ingredients = [];
            document.querySelectorAll('.ingredient').forEach(ingredient => {
                const name = ingredient.querySelector('input[name="ingredient[]"]').value;
                const amount = ingredient.querySelector('input[name="amount[]"]').value;
                ingredients.push({ name, amount });
            });
            formData.append('ingredients', JSON.stringify(ingredients));

            fetch('', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Server response:', data);
                if (data.message) {
                    alert('Recipe created successfully!');
                    window.location.href = '/mityba/receptai_list';
                } else {
                    alert('Failed to create recipe.');
                }
            })
            .catch(error => console.error('Error creating recipe:', error));
        });
    });
</script>


<style>
    .back-button {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .back-button:hover {
        background-color: darkblue;
    }
</style>
    
{% endblock %}
