{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Kraujo Tyrimai
{% endblock %}

<img src="{% static 'images/good.png' %}" alt="Good">
<img src="{% static 'images/bad.png' %}" alt="Bad">
<img src="{% static 'images/not_found.png' %}" alt="Not Found">

{% block content %}
    <style>
        /* CSS styles inline */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
         
           
           
            background-image: url("{% static 'images/back.png' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
           
           
            background-size: 700px 1050px;
            
            
           
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .form-container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 350px;
            width: 100%;
            margin: 0 auto 20px;
            box-sizing: border-box;
        }
        label {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            color: #555;
        }
        input[type="date"],
        input[type="number"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 14px;
        }
        input[type="submit"] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        .chart-img {
            display: block;
            margin: 20px auto;
            max-width: 100%;
        }
        .error-container {
            margin: 20px auto;
            width: 100%;
            text-align: center;
        }
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 4px;
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
        .alert-success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
        }
        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        .form-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
        }
        .form-container .input-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        select {
            margin-bottom: 25px;
        }
        .form-container:first-child .filtruoti-btn {
            margin-top: 30px;
        }
        h1 {
            text-align: center;
            color: #333;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .checkbox-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .checkbox-container label {
            width: calc(33.333% - 10px);
            box-sizing: border-box;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 20%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .button-container button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin: 0 10px;
        }
        .button-container button:hover {
            background-color: #45a049;
        }
        .filter-form-container {
        /*max-width: 380px; */ 
        height: 255px;/* Adjust this value to make the form wider */
    }

    </style>

    <h1>Kraujo tyrimų sekimas</h1>
    
    {% if messages %}
        <div class="error-container">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="form-wrapper">
        <div class="form-container filter-form-container">
            <form id="filterForm" method="post" action="{% url 'kraujo_tyrimai:kraujotyrview' %}">
                {% csrf_token %}
                <h2>Filtruoti pagal metus</h2>
                <div class="checkbox-container">
                    {% for year in years %}
                        <label for="year{{ year }}">
                            <input type="checkbox" name="year" id="year{{ year }}" value="{{ year }}" {% if year == selected_year %} checked {% endif %}>
                            {{ year }}
                        </label>
                    {% endfor %}
                </div>
            </form>
        </div>
        
        <div class="form-container">
            <form method="post" action="{% url 'kraujo_tyrimai:create_kraujo_tyrimas' %}">
                {% csrf_token %}
                <input type="hidden" name="selected_year" value="{{ selected_year }}">
                <h2>Pridėti kraujo tyrimą</h2>
                <div class="input-container">
                    <label for="id_data">Data:</label>
                    <input type="date" name="data" id="id_data">
                </div>
                <div class="input-container">
                    <label for="id_fenilalaninas">Fenilalaninas µmol/l:</label>
                    <input type="number" name="fenilalaninas" id="id_fenilalaninas">
                </div>
                <input type="submit" value="Pridėti">
            </form>
        </div>
    </div>
    
    {% if chart %}
        {{ chart|safe }}
    {% endif %}

    <div id="popupModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="button-container">
                <button id="editBtn">Redaguoti</button>
                <button id="deleteBtn">Ištrinti</button>
                <button id="analyzeBtn">Analizė</button>
            </div>
            <form id="editForm" action="{% url 'kraujo_tyrimai:save_tyrimas' %}" method="post" style="display: none;">
                {% csrf_token %}
                <input type="hidden" id="editSelectedDataPointId" name="selectedDataPointId" value="">
                <input type="hidden" name="selected_year" value="{{ selected_year }}">
                <h3>Redaguoti kraujo tyrimą</h3>
                <div class="input-container">
                    <label for="editDate">Data:</label>
                    <input type="date" id="editDate" name="editedDate">
                </div>
                <div class="input-container">
                    <label for="editFenilalaninas">Fenilalaninas µmol/l:</label>
                    <input type="number" id="editFenilalaninas" name="editedFenilalaninas">
                </div>
                <input type="submit" value="Išsaugoti">
            </form>
        </div>
    </div>
    <form id="deleteForm" action="{% url 'kraujo_tyrimai:delete_tyrimas' %}" method="post" style="display: none;">
        {% csrf_token %}
        <input type="hidden" id="deleteSelectedDataPointId" name="selectedDataPointId" value="">
        <input type="hidden" name="selected_year" value="{{ selected_year }}">
        <input type="submit" value="Delete" id="deleteBtn">
    </form>
    
    <script src="https://mpl-cursors-temmiexue.vercel.app/dist/mplcursors.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const yearCheckboxes = document.querySelectorAll('input[name="year"]');
            const filterForm = document.getElementById('filterForm');

            yearCheckboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function(event) {
                    yearCheckboxes.forEach(function(otherCheckbox) {
                        if (otherCheckbox !== event.target) {
                            otherCheckbox.checked = false;
                        }
                    });
                    filterForm.submit();
                });
            });
        });
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const plotlyGraph = document.querySelector('.plotly-graph-div');

            plotlyGraph.on('plotly_click', function(data) {
                if(data.points.length > 0) {
                    document.getElementById("popupModal").style.display = "block";
                    const clickedData = data.points[0];

                    document.getElementById("editBtn").onclick = function() {
                        const clickedDate = clickedData.x;
                        const phenylalanineAmount = clickedData.y;

                        document.getElementById("editDate").value = clickedDate;
                        document.getElementById("editFenilalaninas").value = phenylalanineAmount;
                        document.getElementById("editSelectedDataPointId").value = clickedDate;
                        document.getElementById("editForm").style.display = "block";
                    };

                    document.getElementById("deleteBtn").onclick = function() {
                        const clickedDate = clickedData.x;
                        document.getElementById("deleteSelectedDataPointId").value = clickedDate;
                        document.getElementById("deleteForm").submit();
                    };

                    document.getElementById("analyzeBtn").onclick = function() {
                        const clickedDate = clickedData.x;
                        const selectedYearCheckbox = document.querySelector('input[name="year"]:checked');
                        const selectedYear = selectedYearCheckbox ? selectedYearCheckbox.value : '';
                        window.location.href = "{% url 'mityba:valgiarastisAnalysis' %}?date=" + encodeURIComponent(clickedDate) + "&selected_year=" + encodeURIComponent(selectedYear);
                    };
                }
            });

            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                document.getElementById("popupModal").style.display = "none";
                document.getElementById("editForm").style.display = "none";
            }
            window.onclick = function(event) {
                var modal = document.getElementById("popupModal");
                if (event.target == modal) {
                    modal.style.display = "none";
                    document.getElementById("editForm").style.display = "none";
                }
            }
        });
    </script>
{% endblock %}
