{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}

{% load static %}

<style>
    body {
        background-image: url("{% static 'images/depositphotos_207250452-stock-photo-top-view-food-composition-various.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<style>
    h1 {
        font-size: 4rem;
        font-weight: bold;
        background: linear-gradient(to right, #ff9966, #ff5e62);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 0.5s ease;
        padding: 20px; /* Add padding to h1 */
    }

    h1:hover {
        transform: rotate(-2deg);
    }
</style>
<h1 style="text-align: center;">Sveiki atvykę į ANTIFE!</h1>
<h2 style="text-align: center;">Interaktyvus dietos asistentas specialiai fenilketonurijos pacientams.</h2>
<h3 style="text-align: center"> Tai aplinka, kuri padeda spręsti kasdienes šios ligos sukeliamas problemas! </h3>


{% endblock %}
